<div
    class="p-6 m-4 d-flex shadow-lg align-items-center justify-content-center border-4 rounded">
    <div class="bg-white rounded">
        <div class="m-4">
            <form  [formGroup]="newTodoForm" class=" form mt-4"
                (ngSubmit)="addTask()">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-muted"
                    placeholder="Add Todo" formControlName="todoItem">
                <button type='submit' class="button">Add</button>
            </form>
        </div>
        <div>
            <div class="flex mb-4 items-center"
                *ngFor="let value of taskList; index as i">
                <p class="w-full text-grey-darkest"
                    [ngClass]="{'line-through': value.completed}">Task {{ i+1}} - {{value.name}}</p>
                    <div class="form">
                        <button
                        class="button bg-warning" (click)="markDone(value)">Done</button>
                    <button
                        class="button bg-danger" (click)="removeTask(i)">Remove Task</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="parent">
  <div class="child"></div>
</div> -->